doctype html
html(lang="en")
    include head.pug
    body
        include navbar.pug

        section
            div(class="container")
                h3=title
                p TBD
                h4 Scenario
                ul
                    li TBD
                    li TBD
                h4 Playground
                include text.html
        include footer.html
    
